.menu {
	z-index: 5;
}

.colors {
	width: 80%;
}

	.colors div {
		box-sizing: border-box;
		float: left;

		/*width: calc(100% / 13);*/
		width: 7.6923076923076923076%;
		height: 50px;
		top: 0;
		position: relative;

		border: 2px solid #fff;
	}

	.colors div:hover {
		cursor: pointer;
		top: -10px;
		z-index: 5;
		transform: scale(1.3, 1.2);
	}


.duration-controls button {
	position: absolute;
	right: 45px;

	width: 50px;
	height: 50px;

	font-size: 16px;

	z-index: 10;
}

	#duration-plus {
		top: 10px;
	}

	#duration-minus {
		top: 90px;
	}


.controls {
	position: absolute;

	bottom: 0;
	left: 0;

	width: 100%;
	height: calc(100% - 155px);
}

	.controls button {
		width: 32%;
		height: 100%;

		margin-right: 2%;

		float: right;
		position: relative;
	}

	.controls button:first-child {
		margin-right: 0;
	}

	.controls button i {
		position: absolute;
		left: 15px;
		margin: 0 auto;

		font-size: 24px;

		color: rgba(0, 0, 0, .7);
	}


.move {
	position: absolute;
	left: -10%;
	top: 0;

	width: 8%;
	height: 100%;
}

	.move button {
		width: 100%;
		height: 47%;

		font-size: 24px;

		position: absolute;
		bottom: 0;
	}

	.move button:first-child {
		top: 0;
	}