#items-container {
	position: relative;
	width: 50%;
	margin: 0 auto;
}


.item {
	border-bottom: 3px solid white;
	position: relative;
	padding: 10px 10px 0 10px;

	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.03)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.03) 0%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.03) 0%,rgba(0,0,0,0.15) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.03) 0%,rgba(0,0,0,0.15) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.03) 0%,rgba(0,0,0,0.15) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08000000', endColorstr='#26000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	background-color: #BFBFBF;
}

.item:last-child {
	border-bottom: 0;
}


.overlay {
	box-sizing: border-box;

	width: 100%;
	height: 100%;
	z-index: 100;

	position: absolute;
	top: 0;
	left: 0;
}

.overlay:hover {
	background-color: rgba(0, 0, 0, .2);
	cursor: pointer;
}


.item-name {
	width: 80%;
	float: left;
}

	.item-name input[readonly] {
		background-color: transparent;
		border: 0;

		margin-top: 0;
	}

	.item-name input {
		box-sizing: border-box;
		width: 100%;
		height: 30px;

		border: 0;
		outline: 0;

		font-family: "Cambria", "Times New Roman", serif;
		font-size: 18px;

		margin-top: 50px;
	}


.duration {
	float: right;
 	width: 20%;
 	position: relative;
	text-align: right;
 	z-index: 10;
}

	.duration span {
		width: 30px;
		line-height: 30px;

		text-align: left; 
		
		position:absolute;
		bottom: 0;
		right: 0;
	} 

	.duration input[readonly] {
		text-align: right;

		background-color: transparent;
		
		border: 0;
		margin-top: 0;
	}

	.duration input {
		box-sizing: border-box;

		background-color: white;

		text-align: right;
		font-family: "Cambria", "Times New Roman", serif;
		font-size: 18px;
		
		width: 50px;
		height: 30px;

		border: 0;
		outline: 0;

		margin-top: 50px;
		margin-right: 35px;
	
		padding-right: 5px;
	}


input:focus {
	box-shadow: 0 0 20px 2px rgba(255, 255, 255, .7);
}

/* clears box-shadow on focus gained by tabbing  */
input[readonly]:focus {
	box-shadow: none;
}
