.load {

}

.load-item {
	background-color: rgba(0, 0, 0, .2);
	width: 100%;

	margin-top: 10px;
	cursor: pointer;
}

	.load-item:hover {
		background-color: rgba(0, 0, 0, .4);

	}

	.load-item input[readonly] {
		background: transparent;
		border: 0
	}	

.load-item, .load-item button {
	height: 30px;
}

	.load-item button {
		height: 100%;
		float: right;
		background-color: rgba(0, 0, 0, .2);
	
	}

