html {
	min-height: 100%;
}

body {
	overflow-y: scroll;
	padding-top: 15px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background: rgb(156,197,229); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(156,197,229) 10%, rgb(201,255,191) 90%) ; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgb(156,197,229)), color-stop(90%,rgb(201,255,191))) ; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(156,197,229) 10%,rgb(201,255,191) 90%) ; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(156,197,229) 10%,rgb(201,255,191) 90%) ; /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(156,197,229) 10%,rgb(201,255,191) 90%) ; /* IE10+ */
	background: linear-gradient(to bottom,  rgb(156,197,229) 10%,rgb(201,255,191) 90%) ; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cc5e5', endColorstr='#c9ffbf',GradientType=0 ); /* IE6-9 */

}

.wrapper {
	width: calc(100% - 135px);
	min-width: 460px;
	max-width: 602px;

	margin: 0 auto;
}

.hidden {
	display: none;
}


h1 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 14px; 

	font-size: 50px;
	font-family: 'Dancing Script', cursive;
	text-decoration: underline;
}

input:invalid {
	background-color: rgb(255, 120, 120)!important;
}

button {
	border: 0;
	border-radius: 0;
	outline: 0;
}
	button:hover {
		background-color: rgba(255, 255, 255, .3);
	}

button, label {
	cursor: pointer;
	background-color: rgba(255, 255, 255, .6);

	font-family: "Cambria", "Times New Roman", serif;
	font-size: 18px;	
}

