* {
	transition: .3s all;
}

body {
	overflow-y: scroll;
	padding-top: 15px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden {
	display: none;
}

.item {
	width: 50%;

	text-align: left;
	margin: 0 auto;

	background-color: rgba(0, 0, 0, .5);
	border-top: 2px solid yellow;

	position: relative;
	transition: .3s all;
}

.item:first-child {
	border-top: 0;
}

.overlay {
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
}
.overlay:hover {
	background-color: rgba(255, 255, 255, .5);
	cursor: pointer;
	transition: .3s all;
}

.duration {
	position: absolute;
	top: 0;
	right: 0;
 	line-height: 60px;
 	z-index: 10;
}

.item-name {

}

.item-name input[readonly] {
	background-color: transparent;
	background-color: rgba(255, 0, 0, .3);
	border: 0;
}
.item-name input {
	background-color: white;
	width: 80%;
	border: 0;
}

.duration input[readonly] {
	background-color: transparent;
	background-color: rgba(255, 0, 0, .3);
	width: 2em;
	height: 2em;
	border: 0;
}
.duration input {
	background-color: white;
	width: 3em;
	height: 3em;
	border: 0;
}


.time, .start-time {
	background-color: rgba(0, 0, 255, .5);
	width: 50px;
	right: -50px;
	line-height: 20px;
	top: calc(100% - 10px);
	position: absolute;
}

.start-time {
	top: -10px;
}

.menu {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	background-color: rgba(255, 255, 255, .2);
}

.colors div {
	box-sizing: border-box;
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #000;
}

.colors div:hover {
	border: 2px solid #fff;
	cursor: pointer;
}