body {
	overflow-y: scroll;
	padding-top: 15px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hidden {
	display: none;
}

.item {
	display: table;
	box-sizing: border-box;
	width: 50%;

	text-align: left;
	margin: 0 auto;

	background-color: rgba(0, 0, 0, .5);
	border-top: 2px solid yellow;

	position: relative;
	transition: .3s all;
}

.item:first-child {
	border-top: 0;
}

.content {
	padding-left: 15px;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.content:hover {
	background-color: rgba(255, 255, 255, .5);
	cursor: pointer;
	transition: .3s all;
}

.duration {
	float: right;
	
}

.time, .start-time {
	background-color: rgba(0, 0, 255, .5);
	width: 50px;
	right: -50px;
	line-height: 20px;
	top: calc(100% - 10px);
	position: absolute;
}

.start-time {
	top: -10px;
}

.menu {
	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;

	background-color: rgba(255, 255, 255, .2);
}

.colors div {
	box-sizing: border-box;
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #000;
}

.colors div:hover {
	border: 2px solid #fff;
	cursor: pointer;
}