#current-time {
	width: 50px;
	height: 20px;
	position: absolute;
	
	top: -10px;
	left: -65px;

	background-color: rgba(0, 0, 0, .3);
	color: white;
}

#current-time:after {
	content: '';
	position: absolute;
	left: 100%;
	border: 10px solid transparent;
	border-left: 10px solid rgba(0, 0, 0, .3);
}

.time, .start-time {
	background-color: rgba(255, 255, 255, .7);
	width: 50px;
	right: -65px;
	line-height: 20px;
	top: calc(100% - 10px);
	position: absolute;
}
.time:after, .start-time:after {
	content: '';
	position: absolute;
	right: 100%;
	border: 10px solid transparent;
	border-right: 10px solid rgba(255, 255, 255, .7);
}
.start-time {
	top: -10px;
}

