#current-time {
	width: 50px;
	height: 20px;
	position: absolute;
	
	top: -10px;
	left: -60px;

	background-color: #FF8000;
}

#current-time:after {
	content: '';
	position: absolute;
	left: 100%;
	border: 10px solid transparent;
	border-left: 10px solid #FF8000;
}

.time, .start-time {
	background-color: rgba(0, 0, 255, .5);
	width: 50px;
	right: -50px;
	line-height: 20px;
	top: calc(100% - 10px);
	position: absolute;
}

.start-time {
	top: -10px;
}