.item {
	box-sizing: border-box;
	width: 50%;
	height: 100px;
	line-height: 100px;

	text-align: center;
	background-color: rgba(0, 0, 0, .5);

	margin: 10px auto;
}

.item:hover {
	background-color: rgba(255, 0, 0, .8);
	outline: solid 2px #000;
	cursor: pointer;
	transition: .3s all;
}